doctype html
html(lang='en')
  head
    title Jade
    meta(charset="UTF-8")
    link(href="https://fonts.googleapis.com/css?family=Rubik:300,400,700,900", rel="stylesheet") 
    link(rel="stylesheet", href="css/app.css")
  body
    header
      include ../../lib/header/template.jade
    form
      .g-recaptcha(data-sitekey="6LdvOwoUAAAAAOHibwbaXku8gqSMtccSadXjkMzD")
