doctype html
html(lang='en')
  head
    title Jade
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/app.css")
  body
    section.full-screen Presentación
    section.full-screen Marcela Lira
    section.full-screen Gonvill
    section.full-screen tracsa
    section.full-screen IBM Collection Assistance Portal
