doctype html
html(lang='en')
  head
    title Jade
    meta(charset="UTF-8") 
  body
    section Marcela Lira
    section Presentación
    section Gonvill
    section tracsa
    section IBM Collection Assistance Portal
    
