html,
body {
    overflow: auto;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body * {
  box-sizing: border-box;
}

.full-screen {
  height: 100vh;
  width: 100%;
}

main {
    margin-top: 80px;
}

@import "vars";
@import "../lib/footer/_template";
@import "../lib/header/_template";
