nav
  #brand
    img(
      src="img/brand.png"
      alt="Juan Sánchez"
      )
  ul
    li
      a(href="#") Casos de estudio
    li
      a(href="#") Experimentos
    li
      a(href="contacto.php") Contacto
    li
      a(href="http://www.decss.com.mx/blog/") Blog
