nav
  #brand
    img(
      src="img/jp.svg"
      alt="Juan Sánchez"
      )
  ul
    li
      a(href="#cases") Case studies
    li
      a(href="#") Experiments
    li
      a(href="contacto.php") Contact
    li
      a(href="http://www.decss.com.mx/blog/") Blog
